{% extends 'base.html' %}
{% block title %}Add Tag{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Add Tag</h1>
        </div>
    </div>
    <form action="/tags/new" method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            name="name"
            class="form-control"
            id="title"
            placeholder="Enter a name for the tag"
          />
        </div>
        <div class="row float-right">
          <a
            class="btn btn-outline-info"
            href="/tags"
            role="button"
            >Cancel</a
          >
          <button type="submit" class="btn btn-success">Add</button>
        </div>
      </form>
</div>
{% endblock %}