{% extends 'base.html' %} {% block title %}{{full_name}} Details{% endblock %}
{% block content %}
<div class="form-background-container justify-content-md-center">
  <div class="row">
    <div class="col-3">
      <img src="{{user.image_url}}" alt="" height="100" width="100" />
    </div>
    <div class="col">
      <div class="row">
        <h1 class="col-md-12">{{full_name}}</h1>
        <div class="col-md-12">
          <a
            class="btn btn-primary float-left"
            href="/users/{{user.id}}/edit"
            role="button"
            >Edit</a
          >
          <form action="/users/{{user.id}}/delete" method="POST">
            <button type="submit" class="btn btn-danger float-left">
              Delete
            </button>
          </form>
        </div>
        <h1 class="col-md-12 mt-3">Posts</h1>
        <div class="col-md-12">
          <ul>
            {% for post in user.posts %}
            <li>{{post.title}} - {{post.get_formatted_date()}}</li>
            {% endfor %}
          </ul>
        </div>
        <a type="button" href="/users/{{user.id}}/posts/new"></a>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
